@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Architects+Daughter&family=Roboto&display=swap');

#header {
    margin: 0 auto;
    align-items: center;
}
header {
    background-color: #A08794;
    display: grid;
    grid-template-columns: 150px auto;
}
h1 {
    font-family: 'Roboto';
}
#content {
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
#topic {
    background-color: #FFA07A;
    text-align: center;
    /* margin-right: 200px auto; */
    margin-top: 20px;
    margin-left: auto;
    display: flex;
    align-items: center;
}
label {
    margin-right: 10px;
}
input[type="text"] {
    padding: 5px;
    border: 1px solid #FFA07A;
}

button {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}
.logo {
    width: 80px;
    padding-top: 20px;
    padding-left: 10px;
}
#links {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    border: 5px solid #FFA07A;
    margin-top: 25px;
}
#links nav a {
    color: #000000;
    margin: 0 15px;
    text-decoration: none;
}
#Searchbar {
    margin-left: auto;
    display: flex;
    align-items: center;
}
nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    background-color: #FFA07A;
    color: #A08794;
}
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}
body {
    background-color: #dddcff;
    font-family: 'Agbalumo', 'Rock Salt', 'Bradley Hand', sans-serif, 'Arial', 'Helvetica';
    font-size: 22px;
    padding: 0;
    margin: 0;
    line-height: 1.6;
}

#projectfiles,
#description,
#collaborators {
    color: #ffffff;
    border: 5px solid #FFA07A;
    background-color: #A08794;
    padding: 20px;
    font-family: 'Architects Daughter', 'Rock Salt', 'Bradley Hand', 'sans-serif', 'Arial', 'Helvetica';
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    padding: 20px;
}

.slideshow {
    grid-column: span 2;
    position: relative;
    overflow: scroll;
    max-height: 500px;
}

.slide {
    display:contents;
    width: 100%;
    max-height: 500px;
    opacity: 0;
    transition: opacity 1000000.5s ease-in-out;
}

.slide:checked + .slide {
    display: block;
}
.label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
footer {
    background-color: #A08794;
    color: beige;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer a:hover {
    color: rgb(255, 255, 255);
}   
footer .social img {
    padding-top: 15px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: none;
    background-color: #FFA07A;
}
.social img {
    width: 30px;
    margin: 0 5px;
}